{% extends "tool/base.html" %}
{% block title %}マイページ登録{% endblock %}

    {% block contents %}
    <p>{{ user.username }}</p>
    <p>{{ user.user_id }}</p>
    <p>{{ user.email }}</p>
    <p>・・・・</p>
    <p>{{ user.memo|default_if_none:"" }}
    <form method="post" action="{% url 'accounts:mypage' %}">
        {% csrf_token %}
        <button type="submit">登録</button>
    </form>
    <form method="post" action="{% url 'diary:diary_view' %}">
        {% csrf_token %}
        <button type="submit">キャンセル</button>
    </form>
    <form method="post" action="{% url 'diary:diary_view' %}">
        {% csrf_token %}
        <button type="submit">保存</button>
    </form>
    {% endblock %}